html, body {
    background-color: whitesmoke;
    background-image: url(/images/moon-close-up-picjumbo-com.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction:column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1, h2, h3 {
    font-weight: 300;
}

.home {
    flex: 1;
    display: flex;
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
    
   
}

.home-left {
    position: relative;
    padding-right: 10vw;
    color: whitesmoke;
}
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-home {
    display: flex;
    flex-direction: column;
}
.nav-item{
    margin-top: 2vh;
    padding-top: 0;
}

.nav-item a {
    font-size: 8vw;
    font-weight: 300;
    text-decoration: none;
    color:#FFD43A;
    transition: 0.3s ease;
}
.nav-item a:hover {
    color: #FAB005;
}

footer {
    font-size: xx-small;
    background-color: #333;
    color: lightgray;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.socials {
    margin-top: 2px;
    display: flex; 
    justify-content: space-evenly;
}

.socials i {
    margin: 1vw;
    display: inline-block;
    position: relative;
    width: auto;
    color: #FFD43A;
    font-size: 5vw;
    transition: 0.3s ease;

} 
.socials i:hover {
    color: #FAB005;
}

.home-about {
    margin-top: 50vh;
}

@media (max-width: 786px) {
    
    .home {
        flex-direction: column;
    }
    .socials {
        margin: auto;
    }
    .socials i {
        font-size: 15vw;
    }
    .nav-item a {
        font-size: 17vw;
    }
    .home-about {
        margin-top: 15vh;
    }
    .home-right {
        margin-top: 5vh;
    }
    
}