:root {
    --blue: #6591E0;
    --darkblue: #083D7F;
    --white: whitesmoke;
}

html, body {
    background-color: var(--white);
    background-image: url(/images/bg-image.jpg);
    background-attachment: fixed;
    /*height: 100vh;*/
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction:column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
}

h1, h2, h3 {
    font-weight: 300;
}
nav {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    font-size: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 10vh;
    }

ul {
    display: flex;
    gap: 2vw;
    list-style: none;
    }

li{
    display: inline-block;
}
   
.socials-header {
    display: flex;
    gap: 2vw;
}

nav a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;
    transition: 0.3s;
}
nav a:hover {
    color: var(--white);
}

nav i{
    font-size: 3vw;
}

.home {
    flex: 1;
    display: flex;
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
    
   
}

.home-left {
    position: relative;
    padding-right: 10vw;
    color: whitesmoke;
}
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-home {
    display: flex;
    flex-direction: column;
}
.nav-item{
    margin-top: 2vh;
    padding-top: 0;
}

.nav-item a {
    font-size: 8vw;
    font-weight: 300;
    text-decoration: none;
    color: var(--blue);
    transition: 0.3s ease;
}
.nav-item a:hover {
    color: var(--darkblue);
}

footer {
    font-size: xx-small;
    background-color: #333;
    color: lightgray;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.socials {
    margin-top: 2px;
    display: flex; 
    justify-content: space-evenly;
}

.socials i {
    margin: 1vw;
    display: inline-block;
    position: relative;
    width: auto;
    color: var(--blue);
    font-size: 5vw;
    transition: 0.3s ease;

} 
.socials i:hover {
    color: var(--darkblue);
}

.home-about {
    margin-top: 50vh;
}

.projects {
    flex: 1;
    display: flex;
    padding-left: 3vw;
    padding-right: 3vw;

}

.projects-left {
    width: 30vw;

}

.kutas {
    position: fixed;
    width: 30vw;
}
.projects-left h1 {
    color: whitesmoke;
    margin-top: 20vh;
   
}
.projects-left p {
    color: whitesmoke;
  
}
.projects-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10vh;
    margin-left: 10vw;
}
.project-card {
    margin: 5px;
    padding: 5px;
    margin: auto;
    text-align: center;
}
.project-card a {
    text-decoration: none;
}


.project-card img {
    width: 80%;
    margin: 0 5vw 0 5vw;
}

.project-card h2 {
    color: var(--blue);
    text-decoration: none;
    transition: 0.3s;
    
}
.project-card h2:hover {
    color: var(--white);}

hr {width: 60%;}

.about {
    flex: 1;
    display: flex;
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 5vh;
}    

.about-left {
    width: 30%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.about-left h1 {
    color: var(--white);
    margin-top: 20vh;
}

.about-left p{
    color: var(--white);
}

.about-right {
    width: 50vw;
    margin-left: 3vw;
    margin-top: 20vh;
}

.about-right img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    color: var(--white);
    text-decoration: none;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    transition: 0.3s;
    font-size: 25px;
    justify-content: center;
    }
    .btn {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-items: center;
    }
.button:hover {
    background-color: var(--darkblue);
}

.contact {
    flex: 1;
    display: flex;
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 5vh;
}

.contact-left {
    width: 50vw;
    color: var(--white);
}

.contact-left h1 {
    font-size: 15vw;
}

.contact-right img {
    display: none;
}

.contact-left a {
    text-decoration: none;
    color: var(--blue);
    transition: 0.3s;
}

.contact-left a:hover {
    color: var(--white);
}

@media (max-width: 786px) {
    
    .home {
        flex-direction: column;
    }
    .home-left {
        padding-right: 0;
    }
    .kutas {
        width: auto;
        position: relative;
    }
    .socials {
        margin: auto;
    }
    .socials i {
        font-size: 15vw;
    }
    .nav-item a {
        font-size: 17vw;
    }
    .home-about {
        margin-top: 15vh;
    }
    .home-right {
        margin-top: 5vh;
    }
    .projects {
        flex-direction: column;
    }
    .projects-right {
        margin: 0;
    }
    .projects-left {
        width: 100%;
    }
    .about {
        flex-direction: column;
    }
    .about-left {
        width: 100%;
    }
    .about-right {
        width: 100%;
        margin: 10px;
    }
    .about-left h1 {
        margin-top: 10px;
    }
    nav a{
        font-size: 2rem;
    }
    nav i {
        font-size: 2rem;
    }
}

